server:
  port: 8082

spring:
  application:
    name: restaurant-service
  datasource:
    url: jdbc:h2:mem:restaurants;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/
